# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*

# ローカルTerraform設定ファイル
.terraform/
.terraform.lock.hcl

# 変数定義（機密情報を含む可能性）
*.tfvars.json

# バックアップファイル
*.tfstate
*.tfstate.backup
*.tfplan

# ログファイル
crash.log
crash.*.log

# 除外ファイル
*_override.tf
*_override.tf.json
